@model HubbleGalaxyHotelApp.Models.Reservation

@{
    ViewData["Title"] = "Details";
}

@*Reservation Details page*@

    @* Main body: Background settings / Flex to fix footer issue *@

    <body class="body-reservation-details d-flex flex-column" 
          style="background-image: url('@Url.Content("https://i.imgur.com/nWnkCsx.jpg")');
                 background-size: auto; 
                 background-position: right center; 
                 min-height: 100vh;">


    @*Logic to display the grand total*@

        @{  
            // Created variables with End Date / Start Date / Price per Night data to calculate grand total
            
                var EndDate = Model.EndDate;
                var StartDate = Model.StartDate;
                var PricePerNight = Model.Room.PricePerNight;

            // Created variable to calculate length of stay 

                var LengthOfStay = (EndDate - StartDate);

            // Calculate num of nights * Price per night to get grand total

                var NumNights = String.Format("{0} night/s", LengthOfStay.Days);
                var CalculateTotal = LengthOfStay.Days * PricePerNight;
        }

    @* Reservation Details bootstrap card *@

        <div class="card bg-dark text-white border-white float-left" 
             style=
                    "width: 25rem; 
                     margin-bottom: 35px;">

            <img class="card-img-top" src="@Html.DisplayFor(model => model.Room.RoomImage)" alt="RoomImage">

            <div class="card-body text-center border-top">
                <h1 class="card-title" 
                    style=
                         "text-shadow: 2px 2px #000000;"> 
                                @Html.DisplayFor(model => model.Room.RoomName)
                </h1>

                <p class="card-text-start-date" 
                   style=
                        "font-size: 25px; 
                         text-shadow: 2px 2px #000000;">
                              Start Date: @Html.DisplayFor(model => model.StartDate)
                </p>

                <p class="card-text-end-date" 
                   style=
                        "font-size: 25px; 
                         text-shadow: 2px 2px #000000;"> 
                              End Date: @Html.DisplayFor(model => model.EndDate)
                </p>

                <p class="number-nights" 
                   style=
                        "font-size: 30px; 
                         text-shadow: 2px 2px #000000">
                              @NumNights  $@CalculateTotal.00
                </p>

            </div>
        </div>

        
    @* YouTube videos: Space Shuttle (Discovery) lift off and David Bowie 'Space Oddity' music video *@

        <div class="youtube-video-spaceshuttle-liftoff float-right border-white" 
             style=
                  "margin-bottom: 35px;">

           <iframe width="560"
                   height="315"
                   src="https://www.youtube.com/embed/OnoNITE-CLc"
                   frameborder="1"
                   allowfullscreen>

           </iframe>
        </div>

        <div class="youtube-video-bowie-space-oddity float-right border-white" 
             style=
                  "margin-bottom: 35px;">

             <iframe width="560" 
                     height="315" 
                     src="https://www.youtube.com/embed/iYYRH4apXDo" 
                     frameborder="1" 
                     allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                     allowfullscreen>

             </iframe>
        </div>

    @* Button to return to Home Page *@

             <a class="btn btn-primary btn-lg text-center float-left" asp-controller="Home" asp-action="Index">Back to Home Page</a>
        
    </body>
